<template>
  <h1 v-if="au" class="!text-true-gray-700 !dark:text-true-gray-50">
    {{ name }}
  </h1>
</template>

<script>
export default {
  fetch() {
    fetch(
      window.location.protocol +
        '//' +
        window.location.hostname +
        (window.location.port === '' ||
        window.location.port === 0 ||
        window.location.port === '0' ||
        window.location.port === null
          ? ''
          : ':' + window.location.port) +
        '/api/users',
      {
        headers: {
          token: this.$store.state.user.token || '',
        },
      }
    )
      .then((res) => res.json())
      .then((json) => {
        this.$store.commit('user/setName', json.name)
      })
      .catch((err) => {
        alert(err.message)
      })
  },
  fetchOnServer: false,
  computed: {
    name() {
      return 'Bienvenido, ' + this.$store.state.user.name
    },
    au() {
      return (
        this.$store.state.user.name !== null &&
        this.$store.state.user.name !== undefined
      )
    },
  },
}
</script>
