<template>
  <div class="container">
    <div>
      <Logo />
      <Greeting class="title" />
      <!-- <h1 class="title">login una tontada</h1> -->
      <div v-if="!au" class="links">
        <NuxtLink
          :to="'/signin'"
          rel="noopener noreferrer"
          class="
            hover:bg-gray-400
            bg-gray-500
            p-2
            px-3
            mt-3
            text-true-gray-50
            m-1
          "
        >
          Sign in
        </NuxtLink>
        <NuxtLink
          :to="'/signup'"
          rel="noopener noreferrer"
          class="
            hover:bg-green-400
            bg-green-500
            p-2
            px-3
            mt-3
            text-true-gray-50
            m-1
          "
        >
          Sign up
        </NuxtLink>
      </div>
      <div v-if="au" class="links">
        <button
          class="
            hover:bg-red-400
            bg-red-500
            p-2
            px-3
            mt-3
            text-true-gray-50
            m-1
          "
          @click="signout()"
        >
          Sign out
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    au() {
      return (
        this.$store.state.user.name !== null &&
        this.$store.state.user.name !== undefined
      )
    },
  },
  methods: {
    signout() {
      this.$store.commit('user/setName', null)
      this.$store.commit('user/setToken', null)
    },
  },
}
</script>

<style>
.button--red {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #dd0000;
  color: #dd0000;
  text-decoration: none;
  padding: 10px 30px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
