<template>
  <div class="container">
    <div class="bg-true-gray-500 p-7 rounded">
      <label class="text-true-gray-50 p-1" for="name">Name:</label>
      <input
        id="name"
        v-model="name"
        class="
          border-2
          focus:border-green-300
          border-green-500
          block
          outline-none
          rounded
          text-lg
          p-1
          mb-1
        "
        type="text"
        name="name"
      />
      <label class="text-true-gray-50 p-1" for="password">Password</label>
      <input
        id="password"
        v-model="password"
        class="
          border-2
          focus:border-green-300
          border-green-500
          block
          outline-none
          rounded
          text-lg
          p-1
          mb-1
        "
        type="password"
        name="password"
      />
      <label class="text-true-gray-50 p-1" for="password2">
        Repeat password
      </label>
      <input
        id="password2"
        v-model="password2"
        class="
          border-2
          focus:border-green-300
          border-green-500
          block
          outline-none
          rounded
          text-lg
          p-1
          mb-1
        "
        type="password"
        name="password2"
        @keyup.enter="signup()"
      />
      <button
        class="hover:bg-green-400 bg-green-500 p-2 px-3 mt-3 text-true-gray-50"
        @click="signup()"
      >
        Sign in
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      password: '',
      password2: '',
    }
  },
  methods: {
    signup() {
      if (this.password !== this.password2) {
        alert('Passwords do not match.')
      } else {
        this.$axios
          .post(
            window.location.protocol +
              '//' +
              window.location.hostname +
              (window.location.port === '' ||
              window.location.port === 0 ||
              window.location.port === '0' ||
              window.location.port === null
                ? ''
                : ':' + window.location.port) +
              '/api/signup',
            {
              name: this.name,
              password: this.password,
            }
          )
          .then((res) => {
            alert(res.data.message || 'Unknown error.')
            this.$router.push('/')
          })
          .catch((err) => {
            alert(err.response.data.message || err.message)
          })
      }
    },
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
